.suspense {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 55px);
  height: 110px;
}

.suspense > img {
  position: relative;
  width: 500px;
  height: auto;
}