$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.artifacts_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  width: auto;
  height: 535px;
  box-shadow: 0 0 3px black;
  border-radius: 8px;
  margin-top: 10px;
  background-color: rgba(36, 35, 47, 0.6);
  flex-wrap: wrap;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 40%;
  margin: 0 5% 15px 5%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  color: $white;
  padding: 5px 0 2px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
  margin: 0;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--color);
    font-weight:700;    
  }
  padding-bottom: 2px;  
  font-weight: 700;
  border-width: 3px;
  border-bottom: var(--border);
  border-width: 2px;
}

.form__field{
  &:required,&:invalid { box-shadow:none; }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 900px) {
  .artifacts_container {
    height: 500px;
    margin-top: 25px;
  }
}