.characters_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.characters_container:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../public/elements/anemo.png) url(../public/elements/cryo.png)
    url(../public/elements/electro.png) url(../public/elements/geo.png)
    url(../public/elements/hydro.png) url(../public/elements/pyro.png)
    url(../public/weapon_types/bow.png) url(../public/weapon_types/catalyst.png)
    url(../public/weapon_types/claymore.png)
    url(../public/weapon_types/polearm.png)
    url(../public/weapon_types/sword.png)
    url(../public/star.png);
}

.search_character {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.search_icon {
  position: absolute;
  left: calc(1% + 15px);
  z-index: 2;
  color: #807373;
}

.search_input {
  width: 98%;
  height: 100%;
  padding-left: 52px;
  border-radius: 1rem !important;
  box-shadow: 0 1px 5px black;
  border: 0;
  position: relative;
  font-size: 20px;
  color: #d6cbcb;
  background-image: linear-gradient(to left, #15152c, #24232e);
}

input[type="text"]:focus {
  outline: none !important;
}

.characters {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  height: calc(100vh - 130px);
  padding: 40px 15px 15px 15px;
  box-sizing: border-box;
  overflow-y:scroll;
  overflow-x: hidden;
}

.character {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 0 25px 25px 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
  background-size: 15rem;
  background-position: 50% 30%;
  box-shadow: 0 3px 10px black;
  overflow: hidden;
}

.character > img {
  width: 230px;
  height: 230px;
  margin: 55px 0 0 0;
}

.character_suspense {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 25px 25px 25px;
  border-radius: 50%;
  background: #272647;
  box-shadow: 0 10px 10px black;
  animation: gradient 1.2s infinite;
}

@keyframes gradient {
  0% { background: rgba(39, 38, 71, 0.2) }
  50% { background: rgba(39, 38, 71, 0.8) }
  100% { background: rgba(39, 38, 71, 0.2) }
}

.character:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
