$fontColor: #d6cbcb;

:root {
  --border: solid 5px transparent;
  --color: red;
  --trans: scaleX(0);
}

@keyframes gradient {
  0% { background: rgba(41, 40, 70, 0.2) }
  50% { background: rgba(41, 40, 70, 0.8) }
  100% { background: rgba(41, 40, 70, 0.2)}
}

h4 {
  color: $fontColor;
  font-weight: bold;
}

.stats_container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: calc(100vh - 50px);
  height: 100%;
  padding: 0;
  margin: 0;
  color: $fontColor;
  flex-wrap: wrap;
}

.export {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  left: 80%;
}

.export:hover {
  color: $fontColor;
}

.export_tooltip {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  padding: 5px !important;
  color: $fontColor !important;
  border-radius: 8px !important;
  background-color: rgba(16, 15, 20, 0.5) !important;
  transition: opacity 0.5 ease-in-out !important;
  font-size: 15px !important;
}

.character_image {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 7px 25px 0 25px;
  border-radius: 50%;
  transition: transform 0.2s;
  background-size: 12rem;
  background-position: 50% 15%;
  box-shadow: 0 3px 10px black;
}

.character_details {
  position: relative;
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
}

.character_details > h2 {
  margin: 0;
}

.skills_container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 3px black;
  border-radius: 8px;
  margin-top: 10px;
  padding-top: 5px;
  background-color: rgba(36, 35, 47, 0.6);
}

.weapon_artifacts_container {
  position: relative;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 20px;
}

.element_weapon_container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.element,
.weapon_type {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  transition: transform 0.2s;
  background-size: 3rem;
  background-position: 50% 30%;
  box-shadow: 0 1px 5px black;
}

.stats {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.row {
  width: 100%;
}

@media only screen and (max-width: 1625px) {
  .character_details {
    width: 30%;
  }
  .weapon_artifacts_container {
    width: 40%;
  }
}

@media only screen and (max-width: 1450px) {
  .character_details {
    width: 40%;
    padding-top: 10px;
  }
  .weapon_artifacts_container {
    width: 60%;
    padding-right: 20px;
    padding-top: 35px;
  }
}

@media only screen and (max-width: 900px) {
  .character_details {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .weapon_artifacts_container {
    width: 100%;
    padding-right: 20px;
  }
  .artifacts_container {
    height: 500px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 550px) {
  .character_details {
    padding-left: 5%;
    padding-right: 5%;
  }
  .weapon_level_img {
    flex-direction: column;
  }
}
