$fontColor: #d6cbcb;

.about {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  color: $fontColor;
  text-align: center;
  width: 100vw;
  height: calc(100vh - 50px);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  height: auto;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.about > p {
  color: $fontColor;
}

ul {
  margin: 0;
  padding-left: 1.2rem;
  padding-top: 10px;
}

li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-start;
}

li > p {
  margin: 0;
  text-align: left;
}

.done li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.working li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 11px;
  height: 11px;
  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: #a0a001;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.done, .working {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50vw;
  padding: 0 10px;
}

.more_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 5px 10px 5px;
  width: 100px;
  padding: 6px 15px 6px 15px;
  border-radius: 1rem;
  background-color: #312e46;
  font-size: 14px;
  font-weight: bold;
  color: $fontColor;
}

.more_btn:hover {
  color: #f8e5e5;
}

.more_btn:focus {
  box-shadow: none;
}