$fontColor: #d6cbcb;

.dmg_container {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: 265px;
  box-shadow: 0 0 3px black;
  border-radius: 8px;
  margin-top: 10px;
  background-color: rgba(36, 35, 47, 0.6);
}

.auto_dmg,
.e_dmg,
.q_dmg
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5px 10px;
  height: 100%;
  text-align : center;
  color: $fontColor;
}

.auto_dmg {
  font-size: 13px;
}

@media only screen and (max-width: 1450px) {
  .dmg_container {
    width: calc(45% - 20px);
    margin-left: 20px;
    height: 550px;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .auto_dmg {
    font-size: 16px;
  }
  .auto_dmg,
  .e_dmg,
  .q_dmg {
    padding: 8px;
    height:auto;
  }
}

@media only screen and (max-width: 900px) {
  .dmg_container {
    height: 400px;
    width: 100%;
    margin-top: 25px;
    margin-left: 0;
    margin-bottom: 25px;
    flex-direction: row;
  }
  .auto_dmg,
  .e_dmg,
  .q_dmg {
    padding: 20px 20px;
    height: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .dmg_container {
    height: 550px;
    width: 100%;
    margin-top: 25px;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}