.levels_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 8px;
}

.levels_ascend > .btn {
  padding: 6px 0 6px 0;
}

.levels,
.levels_ascend {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.btn-dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 5px 10px 5px;
  width: 40px;
  padding: 6px 15px 6px 15px;
  border-radius: 1rem;
  background-color: #1e1c29;
  font-size: 14px;
  font-weight: bold;
}

.level_90 {
  width: 300px;
}

.btn-dark:focus {
  box-shadow: none;
}

.btn-dark > img {
  width: 15px;
  height: 15px;
}