.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 0;
    box-shadow: 0 1px 5px black;
    background-color: #141627;
  }
  
  .tabs {
    position: relative;
    display: flex;
    width: calc(100% - 124px);
    height: 100%;
    justify-content: center;
    align-items: center;
  }

   .logo {
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .logo > img {
    height: 40px;
    width: auto;
    margin: 0 20px;
  }



  .calculator_link, .artifacts_link, .credits_link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    box-sizing: border-box;
  }
  