$fontColor: #d6cbcb;

.stats_dmg_container {
  position: relative;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.details_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 550px;
  box-shadow: 0 0 3px black;
  border-radius: 8px;
  padding: 5px;
  background-color: rgba(36, 35, 47, 0.6);
}

.details_stat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 44px;
  margin: 5px 0;
}

.details_stat > h4 {
  margin: 0;
  color: $fontColor;
}

.details_value {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 100px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  transition: transform 0.2s;
  background-color: #1e1c29;
  box-shadow: 0 1px 5px black;
  color: $fontColor;
  font-weight: bold;
}

.details_row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.details_column {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 10px;
  width: auto;
}

@media only screen and (max-width: 1625px) {
  .stats_dmg_container {
    width: 30%;
  }
}

@media only screen and (max-width: 1450px) {
  .stats_dmg_container {
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px;
  }
  .details_container {
    width: 55%;
  }
}

@media only screen and (max-width: 900px) {
  .stats_dmg_container {
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;
  }
  .details_container {
    width: 100%;
  }
}