$fontColor: #d6cbcb;

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(23, 28, 34, 0.8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  color: $fontColor;
  display:inline-block; 
  margin:0;
  text-transform:uppercase;
  font-size: 1.5vw;
}

h1:after {
  display:block;
  content: '';
  border-bottom: solid 4px #2e2b79;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}

h1:hover:after{
  transform: scaleX(1); 
  transform-origin: 0% 50%;
}

h2 {
  color: $fontColor;
  display:inline-block; 
}

h2:after {
  display:block;
  content: '';
  border-bottom: solid 5px #2e2b79;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}

h2:hover:after{
  transform: scaleX(1); 
  transform-origin: 0% 50%;
}

.suspense {
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 31.545px);
}

.suspense > img {
  position: absolute;
  width: 500px;
  height: auto;
}

.app {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #161d20, #1a164d);
    color: black;
}

.scrollup {
  position: fixed;
  bottom: 10px;
  right: 10px;
  visibility: hidden;
  border-radius: 50%;
  background-color: transparent;
  color: $fontColor;
  border: 2px solid $fontColor;
  transition: opacity 0.3s ease-in-out;
}

.scrollup:hover {
  color: $fontColor;
  background-color: #15152c;
}
.scrollup:focus {
  box-shadow: none;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 2.25vw;
  }
}

@media only screen and (min-width: 2500px) {
  h1 {
    font-size: 1vw;
  }
}