.skills {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.skills_images,
.skills_levels {
  position: relative;
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passives {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.auto,
.e,
.q,
.p1,
.p2,
.up {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  transition: transform 0.2s;
  background-size: 4.5rem;
  background-position: 50% 50%;
  box-shadow: 0 1px 5px black;
}

.img_suspense {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background: rgba(41, 40, 70, 0.8);
  box-shadow: 0 1px 5px black;
  animation: gradient 1.5s infinite;
}

h2:after {
  border-bottom: var(--border);
  transform: var(--trans);
  transform-origin: 0;
}