.weapon_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  height: 280px;
  box-shadow: 0 0 3px black;
  border-radius: 8px;
  background-color: rgba(36, 35, 47, 0.6);
}

.weapon_levels {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
}

.weapon_level_90 {
  margin-bottom: 0;
}

.weapon_level_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.weapon_img,
.weapon_img_empty {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 20px;
  transition: transform 0.2s;
  box-shadow: 0 1px 5px black;
}

.weapon_img_suspense {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 20px;
  background: rgba(41, 40, 70, 0.8);
  box-shadow: 0 1px 5px black;
  animation: gradient 1.5s infinite;
}

@media only screen and (max-width: 550px) {

  .weapon_level_img {
    flex-direction: column;
  }
  .weapon_container {
    height: 440px
  }
  .weapon_levels {
    margin-right: 0;
  }
}